
.cartel{
    /* border: solid 2px black; */
    height: 7rem;
    width: 25%;
    margin: 1rem
}



.logo{
    margin: 0px;
    height: 7rem;
    width: 11rem;
    /* border: solid 2px red; */
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;        
    object-position: center center;
}